In [2]:
import pandas as pd
import altair as alt
import numpy as np

url = "salaries.csv"

# original dataset
original = pd.read_csv(url)
print(original.to_string())

      work_year experience_level employment_type                                 job_title    salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0          2022               MI              FT                 Machine Learning Engineer    130000             USD         130000                 US             0               US            M
1          2022               MI              FT                 Machine Learning Engineer     90000             USD          90000                 US             0               US            M
2          2022               MI              FT                            Data Scientist    120000             USD         120000                 US           100               US            M
3          2022               MI              FT                            Data Scientist    100000             USD         100000                 US           100               US            M
4          2022               MI              FT                            Data Scientist     85000             USD          85000                 US           100               US            M
5          2022               MI              FT                            Data Scientist     78000             USD          78000                 US           100               US            M
6          2022               SE              FT                             Data Engineer    161000             USD         161000                 US           100               US            M
7          2022               SE              FT                             Data Engineer    110000             USD         110000                 US           100               US            M
8          2022               SE              FT                            Data Scientist    136000             USD         136000                 US           100               US            M
9          2022               SE              FT                            Data Scientist    104000             USD         104000                 US           100               US            M
10         2022               SE              FT                            Data Scientist     45000             EUR          47379                 ES             0               ES            M
11         2022               SE              FT                            Data Scientist     36000             EUR          37903                 ES             0               ES            M
12         2022               EX              FT                              Head of Data    205000             USD         205000                 US             0               US            M
13         2022               EX              FT                              Head of Data    160000             USD         160000                 US             0               US            M
14         2022               SE              FT                              Data Analyst    169000             USD         169000                 US             0               US            M
15         2022               SE              FT                              Data Analyst    110600             USD         110600                 US             0               US            M
16         2022               EN              FT                             Data Engineer     50000             GBP          61927                 GB           100               GB            M
17         2022               EN              FT                             Data Engineer     40000             GBP          49542                 GB           100               GB            M
18         2022               SE              FT                             Data Engineer    160000             USD         160000                 US             0               US            M
19         2022               SE              FT                             Data Engineer    130000             USD         130000                 US             0               US            M
20         2022               SE              FT                            Data Scientist    245000             USD         245000                 US             0               US            M
21         2022               SE              FT                            Data Scientist    180000             USD         180000                 US             0               US            M
22         2022               SE              FT                             Data Engineer    135000             USD         135000                 US             0               US            M
23         2022               SE              FT                             Data Engineer    100000             USD         100000                 US             0               US            M
24         2022               SE              FT                             Data Engineer    220000             USD         220000                 US             0               US            M
25         2022               SE              FT                             Data Engineer    150000             USD         150000                 US             0               US            M
26         2022               SE              FT                            Data Scientist    198440             USD         198440                 US             0               US            L
27         2022               SE              FT                            Data Scientist    144000             USD         144000                 US             0               US            L
28         2022               SE              FT                             Data Engineer    240000             USD         240000                 US             0               US            M
29         2022               SE              FT                             Data Engineer    170000             USD         170000                 US             0               US            M
30         2022               SE              FT                            Data Scientist    198440             USD         198440                 US             0               US            M
31         2022               SE              FT                            Data Scientist    144000             USD         144000                 US             0               US            M
32         2022               MI              FT                              Data Analyst    150000             USD         150000                 US           100               US            M
33         2022               MI              FT                              Data Analyst    100000             USD         100000                 US           100               US            M
34         2022               SE              FT                              Data Analyst    120000             USD         120000                 US             0               US            M
35         2022               SE              FT                              Data Analyst     95000             USD          95000                 US             0               US            M
36         2022               MI              FT                            Data Scientist     47000             GBP          58211                 GB            50               GB            M
37         2022               EN              FT                              Data Analyst     64000             USD          64000                 US           100               US            L
38         2022               EN              FT                            Data Scientist     38000             EUR          40009                 FR            50               FR            L
39         2022               SE              FT                 Machine Learning Engineer    187200             USD         187200                 CA           100               CA            M
40         2022               SE              FT                 Machine Learning Engineer    116100             USD         116100                 CA           100               CA            M
41         2022               SE              FT                              Data Analyst    150000             USD         150000                 US             0               US            M
42         2022               SE              FT                              Data Analyst    127000             USD         127000                 US             0               US            M
43         2022               SE              FT                             Data Engineer    275000             USD         275000                 US           100               US            M
44         2022               SE              FT                             Data Engineer    166000             USD         166000                 US           100               US            M
45         2022               SE              FT                            Data Scientist    159699             USD         159699                 US             0               US            M
46         2022               SE              FT                            Data Scientist    138938             USD         138938                 US             0               US            M
47         2022               EN              FT                                BI Analyst     76000             USD          76000                 US            50               US            L
48         2022               SE              FT                              Data Analyst    166700             USD         166700                 US             0               US            M
49         2022               SE              FT                              Data Analyst    119000             USD         119000                 US             0               US            M
50         2022               SE              FT                              Data Analyst    130000             USD         130000                 US             0               US            M
51         2022               SE              FT                              Data Analyst    100000             USD         100000                 US             0               US            M
52         2022               SE              FT                        Analytics Engineer     84000             GBP         104038                 GB             0               GB            M
53         2022               SE              FT                        Analytics Engineer     75000             GBP          92891                 GB             0               GB            M
54         2022               SE              FT                              Data Analyst     80000             USD          80000                 US             0               US            M
55         2022               SE              FT                              Data Analyst     52500             USD          52500                 US             0               US            M
56         2022               SE              FT                             Data Engineer    236000             USD         236000                 US           100               US            M
57         2022               SE              FT                             Data Engineer    182000             USD         182000                 US           100               US            M
58         2022               SE              FT                            Data Scientist    180000             USD         180000                 US           100               US            M
59         2022               SE              FT                            Data Scientist    140000             USD         140000                 US           100               US            M
60         2022               SE              FT                            Data Scientist    225000             USD         225000                 US             0               US            M
61         2022               SE              FT                            Data Scientist    156400             USD         156400                 US             0               US            M
62         2022               SE              FT                              Data Analyst    135000             USD         135000                 US           100               US            M
63         2022               SE              FT                              Data Analyst    100000             USD         100000                 US           100               US            M
64         2022               SE              FT                 Machine Learning Engineer    204500             USD         204500                 US             0               US            M
65         2022               SE              FT                 Machine Learning Engineer    142200             USD         142200                 US             0               US            M
66         2022               MI              FT                         Research Engineer    240000             USD         240000                 US           100               US            M
67         2022               EN              PT                              Data Analyst    125404             USD         125404                 CN            50               US            S
68         2022               SE              FT                             Data Engineer    300000             USD         300000                 US             0               US            M
69         2022               SE              FT                             Data Engineer    130000             USD         130000                 US             0               US            M
70         2022               SE              FT                             Data Engineer    195000             USD         195000                 US           100               US            M
71         2022               SE              FT                             Data Engineer    175000             USD         175000                 US           100               US            M
72         2022               SE              FT                             Data Engineer    155000             USD         155000                 US             0               US            M
73         2022               SE              FT                             Data Engineer    110000             USD         110000                 US             0               US            M
74         2022               SE              FT                   Data Operations Analyst    123000             USD         123000                 US             0               US            M
75         2022               SE              FT                   Data Operations Analyst     92250             USD          92250                 US             0               US            M
76         2022               SE              FT                             Data Engineer    170000             USD         170000                 US             0               US            M
77         2022               SE              FT                             Data Engineer    150000             USD         150000                 US             0               US            M
78         2022               MI              FT                               ML Engineer    180000             USD         180000                 US           100               US            M
79         2022               MI              FT                               ML Engineer    100000             USD         100000                 US           100               US            M
80         2022               SE              FT                             Data Engineer     97000             USD          97000                 US           100               US            M
81         2022               SE              FT                             Data Engineer     90000             USD          90000                 US           100               US            M
82         2022               SE              FT                             Data Engineer    200000             USD         200000                 US             0               US            M
83         2022               SE              FT                             Data Engineer    160000             USD         160000                 US             0               US            M
84         2022               SE              FT                 Machine Learning Engineer    210000             USD         210000                 US           100               US            M
85         2022               SE              FT                 Machine Learning Engineer    180000             USD         180000                 US           100               US            M
86         2022               SE              FT                             Data Engineer    260000             USD         260000                 US             0               US            M
87         2022               SE              FT                             Data Engineer    180000             USD         180000                 US             0               US            M
88         2022               EX              FT                        Analytics Engineer    210000             USD         210000                 US           100               US            M
89         2022               EX              FT                        Analytics Engineer    157000             USD         157000                 US           100               US            M
90         2022               EN              FT                            Data Scientist    180000             USD         180000                 US           100               US            M
91         2022               EN              FT                            Data Scientist    100000             USD         100000                 US           100               US            M
92         2022               MI              FT                              Data Analyst     80000             USD          80000                 US             0               US            M
93         2022               MI              FT                              Data Analyst     52500             USD          52500                 US             0               US            M
94         2022               SE              FT                            Data Architect    128000             USD         128000                 US             0               US            M
95         2022               SE              FT                            Data Architect     81500             USD          81500                 US             0               US            M
96         2022               SE              FT                  Data Operations Engineer    105000             USD         105000                 US             0               US            M
97         2022               SE              FT                  Data Operations Engineer     70000             USD          70000                 US             0               US            M
98         2022               SE              FT                            Data Scientist    175000             USD         175000                 US             0               US            M
99         2022               SE              FT                            Data Scientist    122500             USD         122500                 US             0               US            M
100        2022               SE              FT                             Data Engineer    171000             USD         171000                 US             0               US            M

In [13]:
""" GRAND QUESTION 1
Salary by position
"""
# filter to only show full time employment type
full_time = original[original["employment_type"] == "FT"]
full_time.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,MI,FT,Machine Learning Engineer,130000,USD,130000,US,0,US,M
1,2022,MI,FT,Machine Learning Engineer,90000,USD,90000,US,0,US,M
2,2022,MI,FT,Data Scientist,120000,USD,120000,US,100,US,M
3,2022,MI,FT,Data Scientist,100000,USD,100000,US,100,US,M
4,2022,MI,FT,Data Scientist,85000,USD,85000,US,100,US,M

In [16]:
# remove unnecessary columns / only keep columns that are relevant
full_time = full_time[["work_year", "experience_level", "job_title", "salary_in_usd"]]
full_time.head()

   work_year experience_level                  job_title  salary_in_usd
0       2022               MI  Machine Learning Engineer         130000
1       2022               MI  Machine Learning Engineer          90000
2       2022               MI             Data Scientist         120000
3       2022               MI             Data Scientist         100000
4       2022               MI             Data Scientist          85000

In [29]:
# sort by salary_in_usd
sort_by_salary = full_time.sort_values(by=["salary_in_usd"], ascending=False)
#sort_by_salary
print(sort_by_salary.to_markdown(index=False))

|   work_year | experience_level   | job_title                                |   salary_in_usd |
|------------:|:-------------------|:-----------------------------------------|----------------:|
|        2021 | EX                 | Principal Data Engineer                  |          600000 |
|        2020 | MI                 | Research Scientist                       |          450000 |
|        2021 | MI                 | Financial Data Analyst                   |          450000 |
|        2021 | MI                 | Applied Machine Learning Scientist       |          423000 |
|        2020 | SE                 | Data Scientist                           |          412000 |
|        2022 | SE                 | Data Analytics Lead                      |          405000 |
|        2022 | SE                 | Applied Data Scientist                   |          380000 |
|        2022 | SE                 | Data Architect                           |          345600 |
|        2020 | EX                 | Director of Data Science                 |          325000 |
|        2022 | EX                 | Data Engineer                            |          324000 |
|        2022 | SE                 | Data Engineer                            |          300000 |
|        2022 | SE                 | Data Engineer                            |          300000 |
|        2022 | SE                 | Data Science Manager                     |          300000 |
|        2022 | SE                 | Data Engineer                            |          300000 |
|        2022 | EX                 | Data Engineer                            |          297500 |
|        2021 | SE                 | Lead Data Engineer                       |          276000 |
|        2022 | SE                 | Data Engineer                            |          275000 |
|        2022 | SE                 | Data Architect                           |          266400 |
|        2022 | EX                 | Data Science Manager                     |          260500 |
|        2020 | SE                 | Machine Learning Scientist               |          260000 |
|        2022 | SE                 | Data Engineer                            |          260000 |
|        2022 | EX                 | Data Engineer                            |          260000 |
|        2022 | SE                 | Data Scientist                           |          260000 |
|        2021 | SE                 | ML Engineer                              |          256000 |
|        2022 | SE                 | ETL Developer                            |          250000 |
|        2021 | EX                 | Director of Data Science                 |          250000 |
|        2020 | EN                 | Machine Learning Engineer                |          250000 |
|        2022 | SE                 | Data Architect                           |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | Data Architect                           |          250000 |
|        2022 | SE                 | Analytics Engineer                       |          250000 |
|        2022 | SE                 | Analytics Engineer                       |          250000 |
|        2022 | SE                 | ETL Developer                            |          250000 |
|        2021 | SE                 | Cloud Data Architect                     |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | Data Engineer                            |          250000 |
|        2022 | SE                 | ETL Developer                            |          250000 |
|        2022 | SE                 | Data Science Manager                     |          249260 |
|        2022 | SE                 | Machine Learning Engineer                |          248700 |
|        2022 | SE                 | Data Scientist                           |          245000 |
|        2022 | SE                 | Data Scientist                           |          245000 |
|        2022 | SE                 | Analytics Engineer                       |          245000 |
|        2022 | SE                 | Data Engineer                            |          243900 |
|        2022 | SE                 | Data Science Manager                     |          243225 |
|        2022 | EX                 | Data Engineer                            |          242000 |
|        2022 | MI                 | Data Science Manager                     |          241000 |
|        2022 | MI                 | Research Engineer                        |          240000 |
|        2021 | SE                 | Data Science Manager                     |          240000 |
|        2022 | SE                 | Data Engineer                            |          240000 |
|        2022 | SE                 | ML Engineer                              |          240000 |
|        2022 | SE                 | Data Scientist                           |          236900 |
|        2022 | SE                 | Data Analyst                             |          236600 |
|        2022 | SE                 | Data Engineer                            |          236000 |
|        2021 | SE                 | Principal Data Scientist                 |          235000 |
|        2021 | EX                 | Head of Data                             |          235000 |
|        2022 | SE                 | Data Architect                           |          230400 |
|        2021 | EX                 | Head of Data                             |          230000 |
|        2022 | SE                 | Data Scientist                           |          230000 |
|        2022 | SE                 | Data Scientist                           |          230000 |
|        2022 | SE                 | Data Engineer                            |          229998 |
|        2022 | SE                 | Data Engineer                            |          229998 |
|        2022 | SE                 | Data Engineer                            |          225000 |
|        2022 | SE                 | Data Scientist                           |          225000 |
|        2022 | SE                 | Data Scientist                           |          225000 |
|        2021 | SE                 | Machine Learning Scientist               |          225000 |
|        2022 | SE                 | Data Architect                           |          225000 |
|        2022 | SE                 | Data Engineer                            |          225000 |
|        2021 | EN                 | Machine Learning Scientist               |          225000 |
|        2022 | SE                 | Data Scientist                           |          225000 |
|        2022 | MI                 | Data Scientist                           |          225000 |
|        2022 | EX                 | Head of Data Science                     |          224000 |
|        2022 | EX                 | Data Science Manager                     |          222640 |
|        2022 | SE                 | Data Specialist                          |          221300 |
|        2022 | SE                 | Data Engineer                            |          220110 |
|        2022 | SE                 | Data Engineer                            |          220110 |
|        2022 | SE                 | Machine Learning Engineer                |          220000 |
|        2022 | SE                 | Data Engineer                            |          220000 |
|        2022 | SE                 | Data Scientist                           |          220000 |
|        2021 | SE                 | Principal Data Scientist                 |          220000 |
|        2022 | SE                 | Data Scientist                           |          218000 |
|        2022 | SE                 | Data Analyst                             |          216200 |
|        2022 | MI                 | Data Analyst                             |          216200 |
|        2022 | SE                 | Machine Learning Scientist               |          216000 |
|        2022 | EX                 | Data Engineer                            |          216000 |
|        2022 | SE                 | Data Scientist                           |          215300 |
|        2022 | SE                 | Data Scientist                           |          215300 |
|        2022 | SE                 | Data Scientist                           |          215000 |
|        2022 | SE                 | Data Engineer                            |          215000 |
|        2022 | SE                 | Machine Learning Engineer                |          214000 |
|        2022 | SE                 | Data Architect                           |          213120 |
|        2022 | SE                 | Applied Scientist                        |          212800 |
|        2022 | SE                 | Data Scientist                           |          211500 |
|        2022 | SE                 | Data Engineer                            |          210000 |
|        2022 | SE                 | Data Engineer                            |          210000 |
|        2022 | SE                 | Machine Learning Engineer                |          210000 |
|        2022 | SE                 | Machine Learning Engineer                |          210000 |
|        2022 | SE                 | Data Engineer                            |          210000 |
|        2022 | SE                 | Data Scientist                           |          210000 |
|        2022 | SE                 | Data Scientist                           |          210000 |
|        2022 | EX                 | Analytics Engineer                       |          210000 |
|        2022 | SE                 | Machine Learning Engineer                |          210000 |
|        2022 | SE                 | Data Scientist                           |          210000 |
|        2022 | SE                 | Data Scientist                           |          210000 |
|        2022 | SE                 | Data Engineer                            |          209100 |
|        2022 | SE                 | Data Engineer                            |          209100 |
|        2022 | SE                 | Data Architect                           |          208775 |
|        2022 | SE                 | Data Scientist                           |          207000 |
|        2022 | SE                 | Data Scientist                           |          207000 |
|        2022 | SE                 | Data Engineer                            |          206699 |
|        2022 | MI                 | Data Engineer                            |          206699 |
|        2022 | SE                 | Data Science Manager                     |          206000 |
|        2022 | SE                 | Data Engineer                            |          205600 |
|        2022 | SE                 | Data Scientist                           |          205300 |
|        2022 | SE                 | Data Scientist                           |          205300 |
|        2022 | SE                 | Analytics Engineer                       |          205300 |
|        2022 | SE                 | Data Scientist                           |          205000 |
|        2022 | EX                 | Head of Data                             |          205000 |
|        2022 | SE                 | Machine Learning Engineer                |          204500 |
|        2022 | SE                 | Data Scientist                           |          204100 |
|        2022 | SE                 | Analytics Engineer                       |          203500 |
|        2022 | SE                 | Data Scientist                           |          203500 |
|        2022 | SE                 | Machine Learning Engineer                |          202900 |
|        2022 | SE                 | Machine Learning Engineer                |          202900 |
|        2022 | SE                 | Data Scientist                           |          202800 |
|        2022 | SE                 | Data Engineer                            |          200100 |
|        2022 | SE                 | Head of Data                             |          200000 |
|        2021 | SE                 | Machine Learning Engineer                |          200000 |
|        2022 | SE                 | Data Scientist                           |          200000 |
|        2022 | SE                 | Data Engineer                            |          200000 |
|        2022 | SE                 | Machine Learning Manager                 |          200000 |
|        2022 | MI                 | AI Scientist                             |          200000 |
|        2022 | SE                 | Machine Learning Engineer                |          200000 |
|        2022 | MI                 | Data Scientist                           |          200000 |
|        2022 | EX                 | AI Scientist                             |          200000 |
|        2022 | SE                 | Data Engineer                            |          200000 |
|        2022 | MI                 | Analytics Engineer                       |          200000 |
|        2022 | SE                 | Data Engineer                            |          200000 |
|        2022 | SE                 | BI Analyst                               |          200000 |
|        2022 | EX                 | Analytics Engineer                       |          200000 |
|        2021 | MI                 | Data Engineer                            |          200000 |
|        2022 | SE                 | Data Engineer                            |          200000 |
|        2022 | EX                 | Machine Learning Scientist               |          200000 |
|        2021 | SE                 | Director of Data Engineering             |          200000 |
|        2022 | SE                 | Machine Learning Engineer                |          200000 |
|        2022 | SE                 | Data Engineer                            |          200000 |
|        2022 | MI                 | AI Scientist                             |          200000 |
|        2021 | MI                 | Data Engineer                            |          200000 |
|        2021 | SE                 | Data Analyst                             |          200000 |
|        2022 | SE                 | Data Science Manager                     |          200000 |
|        2022 | SE                 | Marketing Data Analyst                   |          200000 |
|        2022 | EX                 | Data Engineer                            |          200000 |
|        2021 | SE                 | Principal Data Engineer                  |          200000 |
|        2022 | SE                 | Data Scientist                           |          198440 |
|        2022 | SE                 | Data Scientist                           |          198440 |
|        2022 | SE                 | Data Scientist                           |          198440 |
|        2022 | SE                 | Data Scientist                           |          198440 |
|        2022 | SE                 | Data Engineer                            |          197000 |
|        2022 | SE                 | Data Engineer                            |          195700 |
|        2022 | SE                 | Data Engineer                            |          195700 |
|        2022 | SE                 | Machine Learning Engineer                |          195400 |
|        2022 | SE                 | ML Engineer                              |          195400 |
|        2022 | SE                 | Data Architect                           |          195400 |
|        2022 | SE                 | Data Architect                           |          195400 |
|        2022 | SE                 | Data Engineer                            |          195000 |
|        2021 | SE                 | Machine Learning Infrastructure Engineer |          195000 |
|        2022 | SE                 | Machine Learning Engineer                |          193900 |
|        2022 | SE                 | Machine Learning Scientist               |          193900 |
|        2022 | MI                 | Machine Learning Engineer                |          193900 |
|        2022 | EX                 | Director of Data Science                 |          193455 |
|        2022 | SE                 | Data Engineering Manager                 |          193000 |
|        2022 | SE                 | Machine Learning Engineer                |          192600 |
|        2022 | SE                 | Data Architect                           |          192564 |
|        2022 | SE                 | Data Architect                           |          192400 |
|        2022 | SE                 | Applied Scientist                        |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Scientist                           |          191475 |
|        2022 | SE                 | Data Engineer                            |          191200 |
|        2020 | SE                 | Data Science Manager                     |          190200 |
|        2022 | SE                 | Data Architect                           |          190000 |

In [27]:
sort_by_salary_chart = (alt.Chart(sort_by_salary)
    .mark_circle(size=50)
    .encode(
        x = alt.X("job_title", axis=alt.Axis(title="Job Title")),
        y = alt.Y("salary_in_usd", axis=alt.Axis(title="Salary in USD")),
        color = alt.Color("job_title", legend=None)
    )
    .properties(title="Sort by Salary")
)
sort_by_salary_chart
sort_by_salary_chart.save("sort_by_salary_chart.png")

c:\Users\marce\AppData\Local\Programs\Python\Python310\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

In [48]:
sort_by_salary_average = (sort_by_salary
    .groupby(["job_title"]).mean().astype(int)
    .filter(["job_title","salary_in_usd"])
    .sort_values(by="salary_in_usd", ascending=False)
)
sort_by_salary_average = sort_by_salary_average.reset_index()
print(sort_by_salary_average.to_markdown())

|    | job_title                                |   salary_in_usd |
|---:|:-----------------------------------------|----------------:|
|  0 | Data Analytics Lead                      |          405000 |
|  1 | Principal Data Engineer                  |          328333 |
|  2 | Cloud Data Architect                     |          250000 |
|  3 | Research Engineer                        |          240000 |
|  4 | Financial Data Analyst                   |          208333 |
|  5 | Data Scientist Lead                      |          183000 |
|  6 | Principal Data Scientist                 |          180641 |
|  7 | Data Science Manager                     |          180533 |
|  8 | Director of Data Science                 |          177487 |
|  9 | Applied Scientist                        |          172150 |
| 10 | Machine Learning Scientist               |          167235 |
| 11 | Head of Data                             |          166346 |
| 12 | Data Architect                           |          165779 |
| 13 | Data Science Lead                        |          165000 |
| 14 | Director of Data Engineering             |          156738 |
| 15 | Machine Learning Manager                 |          155701 |
| 16 | Applied Data Scientist                   |          154712 |
| 17 | Head of Data Science                     |          146718 |
| 18 | Marketing Data Analyst                   |          144327 |
| 19 | Analytics Engineer                       |          139713 |
| 20 | Lead Data Engineer                       |          139372 |
| 21 | Applied Machine Learning Scientist       |          138525 |
| 22 | Data Engineering Manager                 |          134856 |
| 23 | ML Engineer                              |          134680 |
| 24 | Data Specialist                          |          134166 |
| 25 | ETL Developer                            |          131475 |
| 26 | Data Engineer                            |          129967 |
| 27 | Machine Learning Engineer                |          128829 |
| 28 | Machine Learning Infrastructure Engineer |          127156 |
| 29 | Data Analytics Manager                   |          127134 |
| 30 | Data Scientist                           |          126354 |
| 31 | Cloud Data Engineer                      |          124647 |
| 32 | Principal Data Analyst                   |          122500 |
| 33 | Data Manager                             |          118181 |
| 34 | Data Analytics Consultant                |          113000 |
| 35 | Research Scientist                       |          108872 |
| 36 | Computer Vision Software Engineer        |          105248 |
| 37 | BI Analyst                               |          100500 |
| 38 | Big Data Architect                       |           99703 |
| 39 | Lead Data Scientist                      |           99061 |
| 40 | Data Analyst                             |           97186 |
| 41 | AI Scientist                             |           92361 |
| 42 | Lead Data Analyst                        |           92203 |
| 43 | Data Operations Analyst                  |           90562 |
| 44 | Machine Learning Developer               |           89952 |
| 45 | Lead Machine Learning Engineer           |           83309 |
| 46 | Business Data Analyst                    |           83100 |
| 47 | Data Science Consultant                  |           82993 |
| 48 | Data Operations Engineer                 |           81875 |
| 49 | Data Analytics Engineer                  |           78839 |
| 50 | Head of Machine Learning                 |           76967 |
| 51 | Data Science Engineer                    |           75803 |
| 52 | Big Data Engineer                        |           64254 |
| 53 | Finance Data Analyst                     |           61896 |
| 54 | BI Data Analyst                          |           55803 |
| 55 | Product Data Analyst                     |           55357 |
| 56 | Computer Vision Engineer                 |           44476 |
| 57 | Principal Data Architect                 |           38483 |
| 58 | NLP Engineer                             |           20560 |
| 59 | Machine Learning Research Engineer       |           16085 |
| 60 | Product Data Scientist                   |            8000 |
| 61 | Power BI Developer                       |            5409 |
| 62 | 3D Computer Vision Researcher            |            3662 |

C:\Users\marce\AppData\Local\Temp\ipykernel_22812\657045238.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .groupby(["job_title"]).mean().astype(int)

In [54]:
sort_by_salary_average_chart = (alt.Chart(sort_by_salary_average)
    .mark_bar()
    .encode(
        x = alt.X("job_title", axis=alt.Axis(title="Job Title"), sort="-y"),
        y = alt.Y("salary_in_usd", axis=alt.Axis(title="Salary in USD")),
        color = alt.Color("job_title", legend=None)
    )
    .properties(title = "Sort by Salary (Average)")
)
sort_by_salary_average_chart
sort_by_salary_average_chart.save("sort_by_salary_average_chart.png")

c:\Users\marce\AppData\Local\Programs\Python\Python310\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():